.hero-img {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.heading {
  z-index: 1;
  color: #fff;
  text-align: center;
}

.heading p {
  font-size: 2.4rem;
}

@media screen and (max-width: 640px) {
  .hero-img {
    height: 24vh;
  }
}
