.price {
    /* width: 100%; */
    padding: 6rem 1rem;
    background: #000;
  }
  
  .price-container {
    max-width: 1140px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
}
.card{
    border: 2px solid #fff;
    color: #eee;
    text-align: center;
    padding: 1rem;

}
.card:hover{
    background-color: #141414;
}
.card h3{
    font-size:1.4rem;
    padding: 1rem;
}
.card p{
    padding: 10px 0;
}
.bar{
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem;
    display: block;
}
.btc{
    font-size: 4rem;
    font-weight: 700;
    padding: 1rem 0; 
}
.btn{
    display: block;
    width: 80%;
    margin: 2rem auto;
}

@media screen and (max-width: 740px) {
    .price-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;

    }
  }