@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
}

body{
    background-color: rgb(19, 28, 49);
}

h1,h2,h3,h4,a,p{
    color: aliceblue;
}

.btn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
    background: linear-gradient(90deg, #3de5b3, #00ffb3);
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
     border-radius: 8px;
}
.btn-light{
    background:transparent;
    color: #fff;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.332);
    color: #fff;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width:640px) {
    .btn{
        padding: 12px 32px;
        font-size: 1rem;
        text-transform: uppercase;
        color: #000000;
        background: linear-gradient(90deg, #3de5b3, #00ffb3);
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;
         border-radius: 8px;
    }
    h1{
        font-size: 24px;
    }
    .btn-light{
        background:transparent;
        color: #fff;
    }
    .btn:hover{
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        transition: 0.3s all ease-in-out;
    }
 }
 /* index.css */
.app.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  .app.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  .theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #6c63ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .theme-toggle:hover {
    opacity: 0.9;
  }
  