@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
}

body{
    background-color: #000000;
}

h1,h2,h3,h4,a,p{
    color: aliceblue;
}

.btn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
    background: rgb(248, 217, 15);
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
     border-radius: 8px;
}
.btn-light{
    background:transparent;
    color: #fff;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s all ease-in-out;
}